<%= simple_form_for(@ruta_reparto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :codigo %>
    <%= f.input :nombre %>
    <%= f.association :porcion_reparto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
