<div id="dividir_ruta_desasignacion">
  <%= form_tag  :controller => 'asignacions', :action => 'desasignacion_parcial', :method => 'get', :multipart => true do %>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<tr>
							<th><b>Empleado:</b></th>
							<th></th>
							<th>
								<% if !@lector.nil? %>
									<%= @lector.nombre_completo%>
									<%= hidden_field_tag "empleado_seleccionado",@lector.id, class: 'form-control input-sm'%>
								<% end %>
							</th><br>
							<th><b>Ruta:</b></th>
							<th></th>
							<th>
								<% if !@ruta_seleccionada.nil? %>
									<%= @ruta_seleccionada.codigo_nombre%>
									<%= hidden_field_tag "ruta_seleccionada", @ruta_seleccionada.id, class: 'form-control input-sm'%>
								<% end %>
							</th><br>
						</tr>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-4">
							<div class="form-inline">
								<label for="email">Desde:</label>
								<input type="number" id="inferior", class="form-control" disabled="true" value="1">
							</div>	
						</div>
						<div class="col-md-4">
							<div class="form-inline">
								<label for="hasta">Hasta:</label>
								<input type="number" id="superior", class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<button type="button" onclick="seleccionarOrdenes();" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Seleccionar" ><span class="mdi mdi-cursor-pointer"></span></button>
							<button type="button" id="selectAll_uno" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Seleccionar Todo"><span class="mdi mdi-check-all"></span></button>
							<button type="button" onclick="desasignacion_parcial(0);" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Desasignar"><span class="mdi mdi-folder-remove "></span></button>
							<button type="button" onclick="desasignacion_parcial(1);" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Desasignar y Salir"><span class="mdi mdi-folder-remove "></span> <span class="mdi mdi-exit-to-app"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
			<div class="tabla-responsive">
				<table class="table table-hover table-condensed table-bordered" >
					<thead>
						<tr>
							<th> -- </th>
							<th>Correlativo Ruta</th>  
							<th>Dirección Orden</th>
							<th>Tipo de lectura</th>
							<th>Comuna</th>
						</tr>
					</thead>
					<tbody>
						<% if !@asignaciones.nil? %>
							<% @asignaciones.each do |a|  %>
								<tr>
									<td><label><%= check_box_tag 'orden_ids[]', a.orden_lectura.id -%></label></td>
									<td><label><%= a.orden_lectura.secuencia_lector%></label></td> 
									<td><label><%= a.orden_lectura.direccion_orden%></label></td>  
									<td><label><%= a.orden_lectura.tipo_lectura.nombre%></label></td>
									<td><label><%= a.orden_lectura.comuna.codigo_nombre%></label></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>
	</div>
</div>

<script type="text/javascript"> 
	$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
 
 // Btn Seleccionar en Desasignación
 function seleccionarOrdenes(){
    var desde =   1 - parseInt(document.getElementById("inferior").value);
    var hasta = parseInt(document.getElementById("superior").value);
    var check = $(':checkbox')
    for (i = 0; i < check.length; i++){
      check[i].checked = false;
    }
    for (i = desde; i < hasta; i++){
      check[i].checked = true;
    }
	}
	
	//Recarga Datos en Modal Desasignacion
	function cargarTablaDesasignacion(ruta,empleado, tipo_lectura){
		$.ajax({
			url:"<%=url_for :controller => 'asignacions',:action => 'carga_dividir_ruta_desasignacion' %>",
			data:'ruta=' + encodeURIComponent(ruta)+ "&" + 
					 'tipo_lectura=' + encodeURIComponent(tipo_lectura) + "&" +
					 'empleado=' + encodeURIComponent(empleado),
			cache:false,
			success:function (data) {}
		})
	}
	
  function desasignacion_parcial(id_boton_desasignacion){	//boton Desasignacion Parcial
    var ordenes = new Array();
		var box = $(':checkbox')
		var empleado = document.getElementById("empleado_seleccionado").value;
		var ruta = document.getElementById("ruta_seleccionada").value;
		
    for (i = 0; i < box.length; i++){
			if (box[i].checked == true && box[i].value != "selectAll" && box[i].value != "selectAll_uno"  )
      {
        ordenes.push(box[i].value)
      }     
		}
    $.ajax({
  		url:"<%=url_for :controller => 'asignacions',:action => 'desasignacion_parcial' %>",
			data:'ruta=' + encodeURIComponent(ruta)+ "&" + 
					 'empleado=' + encodeURIComponent(empleado)+ "&" + 
					 'id_boton_desasignacion=' + encodeURIComponent(id_boton_desasignacion)+ "&" + 
					 'ordenes=' + encodeURIComponent(ordenes),
      cache:false,
    	success:function (data) {}
    })
	}
	
  $('#selectAll_uno').click(function() {  // CheckBox Seleecionar Todo
    if (true) {
      $(':checkbox').each(function() {
        this.checked = true;                        
      });
    } 
    else {
    	$(':checkbox').each(function() {
        this.checked = false;                        
      });
    } 
	});
	
	$(function(){
		$('.pagination a').attr('data-remote', 'true')
		$('#superior').keypress(function(e){
				if(e.keyCode==13)
					seleccionUno();
			});
	});

</script>