<div id="carga_filtro">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Resultados de la Busqueda</b></div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed table-bordered" style="width:100%">
					<thead>
						<tr>
							<th><span class="mdi mdi-settings" style="color:black"></span></th>
							<th>Porción</th> 
							<th>Cantidad de Rutas</th> 
							<th>Total OR </th>
							<th>OR Pendientes</th>
							<th>Sin Asignar</th>
							<th>Asignado</th>
							<th>Cargado en PDA</th>
							<th>Entregados</th>
							<th>Devoluciones</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil? %>
							<% @lista.each do |l| %>
								<tr>
									<td>
										<% if l[2] == (l[7].to_i+l[9].to_i) %>
											<button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Cerrar Proceso">
												<i class="mdi mdi-close-circle mdi-8px" style="color:white;"></i>
											</button>
										<% else %>
											<button class="btn btn-primary btn-xs" disabled data-toggle="tooltip" data-placement="top" title="Cerrar Proceso">
												<i class="mdi mdi-close-circle mdi-8px" style="color:white;"></i>
											</button>
										<% end %>
									</td>
									<td><b>  <%= l[0] %></b></td>
									<td><b><%= l[1] %></b></td>
									<td style="color:rgb(84, 84, 170)"><b><%= l[2] %></b></td>
									<td style="color:rgb(190, 85, 85)"><b><%= l[3] %></b></td>
									<td><b><%= l[4] %></b></td>
									<td><b><%= l[5] %></b></td>
									<td><b><%= l[6] %></b></td>
									<td><%= l[7]%></td>
									<td><b><%= l[9] %></b></td>							
									<% if l[8] %>
										<td style="color:green"><b>Abierto</b></td>
									<% else %>
									<td style="color:red"><b>Cerrado</b></td>
									<% end %>
								</tr>
							<% end %>	
						<% end %>	
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div> 
<script type="text/javascript">
	//tooltip mensajes en los botones
  $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();   
  });
</script>


