<title>Impresi贸n de Ruteros</title>
<div class="row">
  <div class="panel panel-default" id="panel-titulos">
		<div class="panel-body">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lectura </li>
				<li class="breadcrumb-item">Operaciones</li>
				<li class="breadcrumb-item active">Impresi贸n de Ruteros</li>
			</ol>
		</div>
	</div>
<div class="panel panel-default">
	<div class="panel-heading"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<label for="">Regi贸n:</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "form-control input-sm" , :onchange => 'cargarPorciones();'%>
				</div>
				<div class="col-md-3">
					<label for="">Porci贸n:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-2">
					<label for="">Tipo Lecturas:</label>
					<%=select_tag "tipo_lectura", options_from_collection_for_select(@tipo_lectura, "id", "nombre"), :prompt=> "Seleccionar", :class => "form-control input-sm" %>
				</div>
				<div class="col-md-2">
					<label for="">Unidad de Lectura:</label>
					<%= render 'carga_rutas' %>
				</div>
				<div class="col-md-1">
					<br>
					<button type="button" onclick="cargarFiltro();" class="btn btn-default form-control"><span class="mdi mdi-magnify"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<%= render 'carga_filtro' %>
</div>

<script class="text/javascript">
	
	function cargarFiltro() {
		var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var proceso = document.getElementById("tipo_lectura").value;
		var ruta = document.getElementById("Ruta").value;
		$.ajax({
			url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_filtro' %>",          
			data: 'zona=' + encodeURIComponent(zona)+ "&" + 'porcion=' + encodeURIComponent(porcion)+ "&" + 'proceso=' + encodeURIComponent(proceso)+ "&" + 'ruta=' + encodeURIComponent(ruta),
      cache: false,
      success: function(data) {}
    })
	}

	function cargarPorciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
	}

	function cargarRutas() {
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
    	url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_rutas' %>",
      data: 'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}
	
</script>