<div id="carga_filtro">
  <div class="panel panel-default">
    <div class="panel-heading"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed table-bordered">
          <thead>
            <tr>
              <th	style="width:20%" ><span class="mdi mdi-settings" style="color:black"></span></th>
              <th style="width:15%">Cliente</th>
              <th>Numero Doc.</th>
              <th style="width:10%">Ruta</th>
              <th style="width:15%">Repartidor</th>
              <th>Fecha Entrega</th>
              <th>Hora Entrega</th>
            </tr>
          </thead>
          <tbody>
            <% if !@repartos.nil?%>
            <% @repartos.each do |r| %>
              <tr>
                <td align="center">
                  <button onclick="mostrarModal('<%=r.id%>');" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Ver Fotografias">
                      <span class="mdi mdi-camera" style="color:white"></span>
                  </button>

                  <button type="button" class="btn " style="background-color:#1E5D86; border:none;" data-toggle="tooltip" data-placement="top" title="Ver Detalle">
                      <span class="mdi mdi-file-document-box" style="color:white"></span>
                  </button>
                </td>
                <td><%= r.cliente.nombre%></td>
                <td><%= r.numero_boleta%></td>
                <td>
                  <% if !r.asignacion_reparto.nil? %>
                    <%= r.asignacion_reparto.ruta_reparto.codigo_nombre%>
                  <% end %>
                </td>
                <td>
                  <% if !r.asignacion_reparto.nil? %>
                    <%= r.asignacion_reparto.empleado.nombre_completo %>
                  <% end %>
                </td>
                <td>
                  <% if !r.fecha_entrega.nil? %>
                    <%= r.fecha_entrega.strftime("%d/%m/%Y") %>
                  <% end %>
                </td>
                <td>
                  <% if !r.fecha_entrega.nil? %>
                    <%= r.fecha_entrega.strftime("%H:%M:%S") %>
                  <% end %>
                </td>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <center>
      <% if !@lista.nil? %>
        <%= will_paginate @lista, renderer: BootstrapPagination::Rails %>
      <% end %>
    </center>
  </div>
</div>

<!-- Modal Fotografia -->
<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
	});
	
</script>
